*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    padding:30px 12px;
    background: #000;
    font-family: 'Itim', serif;
    font-size: 33px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
ul li{
    list-style-type: none;
}
.home-nav{
    flex: 1;
    margin-left: 20px;
}
li a{
    text-decoration: none;
    color: #23aaff;
}
.pages{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
main .index-header{
    background: #bbb url('./levi-meir-clancy-3ITXxnoNd-k-unsplash.jpg') center;
    height: 300px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
[class^='span']::after{
    content: " ";
}
[class^='span']::before{
    content: " ";
}
main .index-header p{
    font-size: 47px;
    font-family: Caveat, serif;
}
main .index-header button{
    border: transparent;
    border-color: transparent;
    outline-color: transparent;
    width: 10em;
    height: 5em;
    border-radius: 12px;
    transition: 1s;
    cursor: pointer;
    animation:  moving-button 3s infinite both;
}
main .index-header button:hover{
    animation-play-state: paused;
}
@keyframes moving-button{
    0%{
        transform: translate(0%, 0%);
    }
    50%{
        transform: translate(0%, 20%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}
.text p{
    color: #0bf;
}
.text p a{
    color: #deb445;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Itim', serif;
}
main .index-header button a{
    text-decoration: none;
    font-size: 21px;
    margin: 10px;
    color: #abf;
}
main .index-header button:hover{
    background: #aaa;
}
.about-us-header{
    display: grid;
    place-items: center;
    background: #adb443;
    height: 71px;
    text-align: center;
    font-size: 37px;
    font-family: Itim, serif;
    color: #23aa22;
}
.about-us-article{
    color: #23aaff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 700px;
    font-size: 32px;
    font-family: Itim, serif;
    margin: 21px 0;
    background:#fff url('./larm-rmah-AEaTUnvneik-unsplash.jpg') center;
}
[class^='about-us-data']{
    font-weight: 900;
    color: #23ff22;
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
}
.main-register{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff url('./markus-spiske-_NOKeOtMR-s-unsplash.jpg') center;
}
.register-container{
    background-color: rgba(250,250,250,0.1);
    backdrop-filter: blur(5px);
    outline: 2px rgba(250,250,250,0.4) solid;
    height: 400px;
    width: 500px;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
}
.input-values{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}
.register-header{
    font-size: 34px;
    display: grid;
    place-items: center;
    font-weight: 900;
    color: #ffdd12;
    padding: 20px;
    font-family: Itim, serif;
}
[class$='label']{
    display: flex;
    justify-content: space-between;
    padding:7px 20px;
}
label{
    font-size: 27px;
    font-family: Caveat, serif;
    font-weight: 800;
}
.register-btn{
    margin:10px 70px;
    align-self: flex-end;
    font-family: Caveat, serif;
    height: 50px;
    width: 170px;
    font-weight: 600;
    font-size: 26px;
}
input{
    font-size: 17px;
    border-radius: 7px;
    height: 30px;
    text-align: center;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    padding: 12px;
    color: #23aaff;
    background: rgba(0,0,0,0.8);
    gap: 10px;
    display: grid;
    place-items: center;
    font-size: 21px;
    margin-top: auto;
    font-family: 'Concert One', serif;
}
.accounts{
    color: #23aaff;
    display: flex;
    font-size: 37px;
    gap: 20px;
    margin: 12px 0;
}
.accounts .fa-github{
    color: #000;
    border-radius: 100%;
    background: #fff;
    font-size: 47px;
}
.accounts .fa-twitter{
    color: #fff;
    border-radius: 100%;
    background: #0bf;
}